<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/hh.css' />
  </head>
  <body>
    <%- include('../../components/header', {title: title}) %>
    <a href="/hh">to index</a>
  </body>
</html>
