<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head', {title: title}) %>
    <link rel='stylesheet' href='/stylesheets/hh.css' />
  </head>
  <body>
    <%- include('../components/header', {title: title}) %>
    <a href="/">to index</a>
  </body>
</html>
